@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.auth-box {
  font-family: var(--font-mono);
  position: absolute;
  top: 5%;
  right: 5%;
}

.auth-box .user-box {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #0000001f;
  border-radius: 15px;
  padding: 10%;
  font-size: 16px;
  font-weight: bold; 
}

.auth-box .sign-in-btn {
  font-family: var(--font-mono);
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-box .sign-in-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
